<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mirri.mirribilandia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main">

        <activity android:name=".ui.AttractionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MapActivity"
            android:label="Map"
            android:parentActivityName=".ui.AttractionActivity"/>
        <activity android:name=".ui.attraction.AttractionDetailActivity"
            android:label=""
            android:parentActivityName=".ui.AttractionActivity"/>
        <activity android:name=".ui.RestaurantActivity"
            android:label=""
            android:parentActivityName=".ui.AttractionActivity"/>
        <activity android:name=".ui.restaurant.RestaurantDetailActivity"
            android:label=""
            android:parentActivityName=".ui.AttractionActivity"/>
        <activity android:name=".ui.ViewSamplesActivity"
            android:label="Samples"
            android:parentActivityName=".ui.AttractionActivity"/>
        <activity android:name=".ui.EventActivity"
            android:label="Events"
            android:parentActivityName=".ui.AttractionActivity"/>
        <activity android:name=".ui.HotelActivity"
            android:label="Hotels"
            android:parentActivityName=".ui.AttractionActivity"/>

    </application>

</manifest>
