<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mirri.mirribilandia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main"
        android:largeHeap="true">

        <activity android:name=".ui.MainActivity">
            android:theme="@style/Base.Theme"
            android:windowSoftInputMode="stateHidden"
            android:label="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.GironiActivity" android:label="Gironi"/>
        <activity android:name=".ui.gironi.GironiDetailActivity" android:parentActivityName=".ui.GironiActivity"/>
        <activity android:name=".ui.TerzeActivity" android:label="Migliori terze"/>
        <activity android:name=".ui.SquadreActivity" android:label="Squadre"/>
        <activity android:name=".ui.FasiFinaliActivity" android:label="Fasi finali"/>

    </application>

</manifest>
